.main-align {
    margin: 0 auto;
    width: 650px;
    box-shadow: 0 4px 24px 0 #293D3D;
    border-radius: 10px;
    background-color: #006622;
    padding: 15px;
}

.header-content {
    width: 100%;
    background-color: #CCFFDD;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 1.7em;
    color: #009933;
    text-align: center;
}

.search-item {
    width: 40%;
    margin-left: 72px;
    margin-bottom: 2px;
    background-color: #CCFFDD;
    color: #009933;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-item {
    display: none;
    border: 1px solid #CCFFDD;
    width: 40%;
    margin-left: 72px;
    margin-bottom: 10px;
    background-color: #CCFFDD;
    color: #009933;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}